@page "/detalhes"
@model WhatYouHaveLost.Repository.Data.NewsData

<!DOCTYPE html>
<html>
<head>
    <title>Detalhes da Notícia</title>
    <style>
        /* Estilos CSS para melhorar a apresentação */
        body {
            font-family: Arial, sans-serif;
        }
        .news-container {
            width: 500px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
        }
        h1 {
            margin-top: 0;
        }
        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="news-container">
    <h1>@Model.Title</h1>
    <img src="@Model.Image" alt="Imagem da Notícia">
    <p>@Model.Content</p>
    <p>Fonte: @Model.Font</p>
    <p>Data de Criação: @Model.CreatedDate.ToString("dd/MM/yyyy")</p>
</div>
</body>
</html>
