@page "/detalhes"
@model WhatYouHaveLost.Pages.DetailsModel

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>Detalhes</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
	<div class="text-center mt-5">
		<h1 class="display-4">Detalhes</h1>
	</div>

	<div class="row justify-content-center mt-5">
		<div class="col-md-8">
			<div class="card">
				<div class="card-body">
					<h2 class="card-title">@Model.News.Title</h2>
					<p class="card-text">@Model.News.Content</p>
					<img src="@Model.News.Image" class="img-fluid" alt="News Image" title="@Model.News.PublishDate.ToString("dd/MM/yyyy")">
					<p class="card-text">Fonte: <a href="@Model.News.Author" target="_blank">@Model.News.Author</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>